@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: url('./images/the-office-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.quote-box {
  background-color:rgba(255, 255, 255, .7);
  max-width: 900px;
  width: auto;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 50px;
}

.text {
  font-weight: 700;
  font-size: 1.7rem;
}

.author {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row-reverse;
}

.new-quote-btn {
  border: none;
  border-radius: 9px;
  background-color: rgb(59, 53, 50);
  color: #fff;
  padding: .7rem 1rem;
}